[Desktop Entry]
Name=EDMarketConnector
Exec=/usr/bin/python3 /app/edmc/EDMarketConnector.py
Terminal=false
Icon=io.edcd.EDMarketConnector
Type=Application
Categories=Game;
X-Desktop-File-Install-Version=0.21
